{% extends 'base.html' %}


{% block title %}Политика конфиденциальности персональных данных {% endblock %}
{% block META_description %}Политика конфиденциальности персональных данных {% endblock %}


{% block base %}

<main class="b-main">
	<div class="wr wr_width-aside">

		<section class="b-section">
			<div class="b-breadcrumbs">
		<nav class="breadcrumbs">
                <ul class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <meta itemprop="position" content="1">
                        <a href="{% url 'glav' %}" itemprop="item">
                            <span itemprop="name">Главная</span></a></li>
                    <li class="active" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <meta itemprop="position" content="2"><span typeof="WebPage" >
                        <span itemprop="name">Политика конфиденциальности</span></span></li>
                </ul>
            </nav>
			</div>

			<div class="u-content">
				<h1>Политика конфиденциальности персональных данных</h1>


   {{ settings_static.text_politica|safe }}

			</div>

		</section>


		<aside class="b-aside">
			<div class="block">


			</div>













		</aside>


	</div>
</main>





{% endblock %}



