<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Welcome to Python Guides</title>

    <style type="text/css">
        @font-face {
         font-family: 'sans-serif';
         src: url("/static/fonts/arialmt.ttf");
         }
         body{
         font-family: "sans-serif"!important;
         }
        h1{
            font-size:24px;
            text-align:center
        }
        p{
            font-size:18px
        }
        strong{
            font-weight:600
        }
        .logo__img{
            width:140px
        }

</style>

</head>
<body>
<div class="header">
				<span class="logo__figure">
					<img src="/static/theme/img/logo.png" alt="Пермский центр отдыха и туризма<" class="logo__img">
				</span>


        </div>

      <h1>Наши автобусы</h1>

<p>Для нас очень важен комфорт при передвижении туристов. В наши автобусные туры мы отправляем только новые и современные автобусы туристического класса 2017-2021 года. В основном, это марки HIGER, YUTONG, ZHONGTONG, MAN, SETRA.</p>

<p>У нас нет своего автопарка &ndash; и это огромное преимущество. Мы можем работать с разными перевозчиками, бронировать только лучшие автобусы в Пермском крае. Если Вам не понравился автобус, у нас всегда есть возможность поменять его на следующие туры, чего не могут сделать другие туроператоры со своим автопарком.</p>

<p>В автобусных турах с ночными переездами мы организуем бесплатную чайную станцию: чай, кофе, печенье, конфеты. В автобусе идет продажа туристических товаров (пледы, подушки под голову, маски для сна, беруши) на случай, если Вы забыли это взять с собой. Также мы смотрим интересные фильмы. Если тур праздничный (Новогодний; посвященный Дню Победы и т.д.), то мы смотрим именно тематические фильмы.&nbsp;</p>

<p>В таблице Вы можете подробнее посмотреть фотографии и видеообзоры наших автобусов.</p>

<table align="center" border="1" style="height:180px; width:738px">
	<tbody>
		<tr>
			<td style="height:20px; text-align:center; width:338.469px"><span style="font-size:12pt"><strong>Марка автобуса</strong></span></td>
			<td style="height:20px; text-align:center; width:383.531px"><span style="font-size:12pt"><strong>Ссылка на описание</strong></span></td>
		</tr>
		<tr>
			<td style="height:20px; width:338.469px"><span style="font-size:12pt"><strong>&quot;YUTONG о610ер&quot;</strong></span></td>
			<td style="height:20px; width:383.531px"><span style="font-size:12pt"><a href="agentstvam/nashi-avtobusy/avtobus-yutong-o610er">https://pcot59.ru/agentstvam/nashi-avtobusy/avtobus-yutong-o610er</a></span></td>
		</tr>
		<tr>
			<td style="height:20px; width:338.469px"><span style="font-size:12pt"><strong>&quot;YUTONG m697px и m773px&quot;</strong></span></td>
			<td style="height:20px; width:383.531px"><span style="font-size:12pt"><a href="agentstvam/nashi-avtobusy/avtobus-yutong-m697px">https://pcot59.ru/agentstvam/nashi-avtobusy/avtobus-yutong-m697px</a></span></td>
		</tr>
		<tr>
			<td style="height:20px; width:338.469px"><span style="font-size:12pt"><strong>&quot;YUTONG о675кк&quot;</strong></span></td>
			<td style="height:20px; width:383.531px"><span style="font-size:12pt"><a href="agentstvam/nashi-avtobusy/avtobus-yutong-o675kk">https://pcot59.ru/agentstvam/nashi-avtobusy/avtobus-yutong-o675kk</a></span></td>
		</tr>
		<tr>
			<td style="height:20px; width:338.469px"><span style="font-size:12pt"><strong>&quot;YUTONG 306&quot;</strong></span></td>
			<td style="height:20px; width:383.531px"><span style="font-size:12pt"><a href="agentstvam/nashi-avtobusy/avtobus-yutong-306">https://pcot59.ru/agentstvam/nashi-avtobusy/avtobus-yutong-306</a></span></td>
		</tr>
		<tr>
			<td style="height:20px; width:338.469px"><span style="font-size:12pt"><strong>&quot;ZHONGTONG о502ер &quot;</strong></span></td>
			<td style="height:20px; width:383.531px"><span style="font-size:12pt"><a href="agentstvam/nashi-avtobusy/avtobus-zhongtong">https://pcot59.ru/agentstvam/nashi-avtobusy/avtobus-zhongtong</a>&nbsp;</span></td>
		</tr>
		<tr>
			<td style="height:20px; width:338.469px"><span style="font-size:12pt"><strong>&quot;HIGER о622тн&quot;</strong></span></td>
			<td style="height:20px; width:383.531px"><span style="font-size:12pt"><a href="agentstvam/nashi-avtobusy/avtobus-higer">https://pcot59.ru/agentstvam/nashi-avtobusy/avtobus-higer</a>&nbsp;</span></td>
		</tr>
		<tr>
			<td style="height:20px; width:338.469px"><strong><span style="font-size:12pt">&quot;MAN a737ee&quot;</span></strong></td>
			<td style="height:20px; width:383.531px"><span style="font-size:12pt"><a href="agentstvam/nashi-avtobusy/avtobus-man">https://pcot59.ru/agentstvam/nashi-avtobusy/avtobus-man</a>&nbsp;</span></td>
		</tr>
	</tbody>
</table>


</body>
</html>