<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Welcome to Python Guides</title>

    <style type="text/css">
        @font-face {
         font-family: 'sans-serif';
         src: url("/static/fonts/arialmt.ttf");
         }
         body{
         font-family: "sans-serif"!important;
         }
        h1{
            font-size:24px;
            text-align:center
        }
        p{
            font-size:18px
        }
        strong{
            font-weight:600
        }
        .logo__img{
            width:140px
        }

</style>

</head>
<body>
<div class="header">
				<span class="logo__figure">
					<img src="/static/theme/img/logo.png" alt="Пермский центр отдыха и туризма<" class="logo__img">
				</span>


        </div>

      <h1>Оплата</h1>

<p><span style="color:#000000; font-family:verdana,geneva,sans-serif; font-size:12pt">Уважаемые туристы, Вы можете оплатить тур несколькими удобными для Вас способами.</span></p>

<h3><strong><span style="font-size:12pt">ОПЛАТА НАЛИЧНЫМИ:</span></strong></h3>

<p><span style="font-size:12pt">При покупке тура в офисе, Вы заключаете договор. Неоходимо обязательно проверить в нём Ваши данные, информацию о туре. Вы вносите денежные средства и получаете приходный кассовый ордер. Адрес и график работы нашей компании <a href="/turistam/contacts/">здесь</a><a href="company/contacts">.</a> </span></p>

<h3><span style="font-size:12pt">ОПЛАТА БЕЗНАЛИЧНЫМ РАСЧЁТОМ:</span></h3>

<p><span style="font-size:12pt">То же самое и с безналичной оплатой. Получив на руки договор и проверив его, Вы прикладываете карту к терминалу. Получаете чек.&nbsp;</span></p>

<h3><span style="font-size:12pt">ОПЛАТА ТУРОВ ПО ПРОГРАММЕ &quot;КЭШБЭК&quot;:</span></h3>

<p><span style="font-size:12pt">Чтобы забронировать тур по программе &quot;Кэшбэк&quot;, необходимо приобрести карточку МИР и <a href="https://privetmir.ru/russiatravel/?%20redirectUrlFrame=http%3A%2F%2Fwww.pcot.permp.ru%2Fpage2119.html">зарегистрировать</a> ее в программе лояльности. Далее менеджер на Вашу почту после заключения договора отправит ссылку на оплату заявку. Оплатить ее нужно одной транзакцией вполном размере. На почту сразу же придет электронный чек.&nbsp;</span></p>


</body>
</html>