<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Welcome to Python Guides</title>

    <style type="text/css">
        @font-face {
         font-family: 'sans-serif';
         src: url("/static/fonts/arialmt.ttf");
         }
         body{
         font-family: "sans-serif"!important;
         }
        h1{
            font-size:24px;
            text-align:center
        }
        p{
            font-size:18px
        }
        strong{
            font-weight:600
        }
        .logo__img{
            width:140px
        }

</style>

</head>
<body>
<div class="header">
				<span class="logo__figure">
					<img src="/static/theme/img/logo.png" alt="Пермский центр отдыха и туризма<" class="logo__img">
				</span>


        </div>

      <h1>Как купить тур online</h1>

<p><span style="color:#000000; font-size:12pt">Уважаемые туристы, если Вы не можете подъехать к нам в офис, чтобы забронировать тур, Вы можете сделать это дистанционно. У нас существует несколько каналов связи с нашими менеджерами:</span></p>

<ul style="list-style-type:circle">
	<li><span style="font-size:12pt">Группа Вконтакте &ndash; <a href="https://vk.com/permturizm">https://vk.com/permturizm</a></span></li>
	<li><span style="font-size:12pt">Телеграм канал с горящими предложениями &ndash; <a href="https://t.me/pcotperm">https://t.me/pcotperm</a></span></li>
	<li><span style="font-size:12pt">Связь по телеграму &ndash; 8-965-578-65-07</span></li>
	<li><span style="font-size:12pt">Вайбер &ndash; 8-965-578-65-07</span></li>
	<li><span style="font-size:12pt">Телефон &ndash; 8 (342) 254-02-50</span></li>
	<li><span style="font-size:12pt">Почта &ndash; <a href="mailto:2540150@mail.ru">2540150@mail.ru</a>&nbsp;</span></li>
</ul>

<p><span style="font-size:12pt">После консультации и выбора тура менеджер вышлет Вам договор по оказанию туристических услуг в удобном Вам месте. Его необходимо подписать и обратно отправить менеджеру. Оплату Вы можете сделать с помощью банковской карты по нашим реквизитам, которые отправит Вам менеджер.</span></p>


</body>
</html>